@{
    ViewBag.Title = "製程替代群組維護";
    Layout = "~/Views/Shared/_LayoutLang.cshtml";
}

@*製程替代群組維護*@
<div id="tb_list" class="J-main">
    <div id="container" class="J-toolbar">
    </div>
    <div class="J-search">
        <label data-meaning="ProcessAlternateGroup">Process Alternate Group</label>
        <input  type="text" class="search-input" data-bind="value:ProcessAlternateGroup"  style="width: 170px;"  autocomplete="off" />
        <label data-meaning="Status">Status</label>
        <select data-bind="options:StatusArray,optionsValue:'value',optionsText:'text',optionsCaption:'',value:Status" class="search-select" style="width: 170px;"></select>
    </div>
    <div class="J-content" id="table-body">
        <table id="ProcessAlternateGroupTable"></table>
    </div>
    <div class="datagrid-pager page" id="paginagionBar"></div>
</div>

@*明细按鈕*@
<div class="modal inmodal" id="DetailDialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:700px;">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header" style="padding:5px 10px 5px 5px  !important">
                <button id="close" type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only" data-meaning="Close">Close</span>
                </button>
                <h6 class="modal-title" data-meaning="ProcessAlternateGroupDetail">Process Alternate Group Detail</h6>
            </div>          
          
            <div id="table-bodyData" style="margin:4px 8px 0 8px;">
                <div style="padding-bottom:4px">
                    <label data-meaning="ProcessAlternateGroup">Process Alternate Group</label>
                    <input type="text" class="search-input" id="ProcessAlternateGroupID" style="width: 170px;" autocomplete="off" disabled/>
                    <label data-meaning="ProcessAlternateGroupDescription">Process Alternate Group Description</label>
                    <input type="text" class="search-input" id="ProcessAlternateGroupDesID" style="width: 170px;margin-right:15px;" autocomplete="off" disabled/>
                    <button id="btn_add" class="btn btn-success btn-sm" onclick="model.addBatchProcessClick()"> <span data-meaning="BatchProcessing">Batch Processing</span></button>   
                </div>                
                <table id="DetailTable"></table>              
            </div>
            <div id="paginagionGroupDetailBar" class="datagrid-pager page" style="padding-bottom:5px!important"></div>
            <div class="modal-footer" style="text-align:right;padding: 5px !important">                
                <button class="btn btn-success btn-sm" type="button" data-dismiss="modal"  data-meaning="Cancel" value="Cancel" >Cancel</button>                                            
                @*<button class="btn btn-success btn-sm" type="button" data-meaning="Comfirm" onclick="model.comfirmDetailClick()">Comfirm</button>*@
            </div>
        </div>
    </div>
</div>

@*制程主档代号开窗*@
<div class="modal inmodal" id="ProcessDialog" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:850px;">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header" style="padding:5px 10px 5px 5px  !important">
                <button id="close" type="button" class="close" data-dismiss="modal" onclick="model.clearData()">
                    <span aria-hidden="true">&times;</span><span class="sr-only" data-meaning="Close">Close</span>
                </button>
                <h6 class="modal-title" data-meaning="BatchOperation">Batch Operation</h6>
            </div>
            <div class="J-search" style="margin:5px 0 8px 0;">
                <label data-meaning="ProcessNo" style="margin:5px 10px 5px 10px;">Process No.</label>
                <input id="ProcessNo" type="text"  class="search-input" style="width: 160px;" autocomplete="off" />
                <button class="btn btn-success btn-sm" type="button" onclick="model.SearchProcessNoClick()" > 
                    <i class="fa fa-search"></i>
                </button>
            </div>
            <div style="width:100%; height:100%;" >
                <div style="display: inline-block;width: 45%; height:100%;margin:3px 5px;float:left;">
                    <div style="width:100%;text-align:center;">
                        <label style="font-size:large;" data-meaning="Unauthorized">Unauthorized</label>
                    </div>
                    <div id="table-bodydetail" style="margin:5px 8px; height:400px;">
                        <table id="ProcessMasterTable" ></table>
                    </div>                    
                </div>
                <div style="float:left;display: inline-block;width: 4%;margin-top:16%;">
                    <div style="margin-bottom:20%;">
                        <button class="btn btn-success btn-sm" type="button" onclick="model.ProcessMoveRightClick();"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></button>
                    </div>
                    <div>
                        <button class="btn btn-success btn-sm" type="button" onclick="model.ProcessMoveLeftClick();"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span></button>
                    </div>                    
                </div>
                <div style="display: inline-block;width: 45%; height:100%;margin:3px 5px;float:left;">
                    <div style="width:100%;text-align:center;">
                        <label style="font-size:large;" data-meaning="Authorized">Authorized</label>
                    </div>
                    <div id="table-bodydetailone" style="margin:5px 8px; height:400px;">
                        <table id="ProcessMasterChangeTable" ></table>
                    </div>                   
                </div>
            </div>
            <div class="modal-footer" style="padding: 5px !important">
                <button class="btn btn-success btn-sm" type="button" data-dismiss="modal" id="cancel" data-meaning="Cancel" value="Cancel" onclick="model.clearData()">Cancel</button>
                <button class="btn btn-success btn-sm" type="button" id="detailSave" data-meaning="Comfirm" onclick="model.detailSaveClick()">Comfirm</button>
                
            </div>
        </div>
    </div>
</div>

@*导入*@
<div class="modal inmodal" id="ImportDialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:400px;">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header" style="padding:16px !important">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only" data-meaning="Cancel">Cancel</span>
                </button>
                <h6 id="inputTitle" class="modal-title" data-meaning="Import">Import</h6>
            </div>
            <div class="modal-body">
                <div class="form-group" style="width:100%;">
                    <div style="width:15%; display:inherit; float:left; margin-left:20px;">
                        <button class="btn btn-success btn-sm" id="BtnBrowse">
                            <span data-meaning="Browse">Browse</span>
                        </button>
                        <input id="BtnFile" type="file" style="opacity:0" />
                    </div>
                    <div style="padding:5px; width:70%; display:inherit; float:left;">
                        <span id="FileName"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal" data-meaning="Cancel">Cancel</button>
                <button type="button" class="btn btn-success" id="BtnImport" data-meaning="Comfirm">Comfirm</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <style>
      #table-body .mf-table-wrapper {
            overflow-x: auto;
      }

      #table-bodyData .mf-table-wrapper {
        overflow-x: auto;
      }
      #DetailDialog .fix-table {
        height: 250px!important;
      }
      #DetailDialog .fix-table,#DetailDialog .fix-head {
        width: 200%;
      }
      #table-bodydetail .mf-table-wrapper, #table-bodydetailone .mf-table-wrapper {
        overflow-x: auto;
      }
      #table-bodydetail .fix-table, 
      #table-bodydetail .fix-head, 
      #table-bodydetailone .fix-table, 
      #table-bodydetailone .fix-head {
        width: 180%;
      }
    </style>
    <script src="~/Content/js/hplus/plugins/layer/laydate/laydate.js"></script>
    <script src="~/Content/js/knockout/knockout-3.0.0.js" type="text/javascript"></script>
    <script src="~/Content/js/current/pagination.js" type="text/javascript"></script>
    <script src="~/Content/js/current/Rander.js" type="text/javascript"></script>
    <script src="~/Content/js/current/Checker.js" type="text/javascript"></script>
    <script src="~/ViewModels/MES/IntelligentParameters/INF00021.js" type="text/javascript"></script>

}
