
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>授权提示</title>
    <link href="~/Content/images/logo/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/css/bootstrap.min14ed.css" rel="stylesheet">
    <style>
        body {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            background-image: url(/Content/img/mes.jpg);
        }

        .Form {
            background: rgba(255,255,255,0.9);
            display: inline-block;
            position: absolute;
            left: 45%;
            top: 30%;
            padding: 30px;
            border-radius: 3px;
        }
    </style>
</head>
<body>
    <div class="Form">
        <span style="color:red;font-size:30px;">系统未经授权</span>
    </div>
</body>
</html>
