
@{
    ViewBag.Title = "SFC00004Artificial";
    Layout = "~/Views/Shared/_LayoutLang.cshtml";
}

@*主页面表格*@
<div id="tb_list" class="J-main">
    <div id="container" class="J-toolbar">
        <button id="btn_refresh" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="left" title="刷新" onclick="model.refreshClick()"><i class="fa icon-arrow_refresh"></i> <span data-meaning="Refresh"> Refresh</span></button>
        <button id="btn_add" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="left" onclick="model.addClick()"><i class="fa icon-add"></i> <span data-meaning="Add">Add</span></button>
        <button id="btn_edit" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="left" onclick="model.editClick()"><i class="fa icon-edit"></i> <span data-meaning="Change"> Change</span></button>
        <button id="btn_delete" class="btn btn-success btn-sm" onclick="model.deleteClick()"><i class="fa icon-delete"></i> <span data-meaning="Deletion">Deletion</span></button>
        <button id="btn_save" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="left" onclick="model.saveClick()"><i class="fa icon-save"></i> <span data-meaning="Save"> Save</span></button>
    </div>
    <div class="J-search">
        <span data-meaning="TaskCardNo" style="margin:5px 5px 8px 10px; width:60px;">Task Card No.</span>
        <input id="DetailTaskCardNo" type="text" class="search-input" style="width: 250px; margin:5px 5px 8px 0;" autocomplete="off" disabled />
    </div>
    <div class="J-content" id="table-body">
        <table id="table" data-toggle="true" data-mobile-responsive="true"></table>
    </div>
    <div class="datagrid-pager page" id="paginagionBar"></div>
</div>

@*员工弹窗*@
<div class="modal inmodal" id="ArtificialDialog" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:620px;">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header" style="padding:16px !important">
                <button id="close" type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only" data-meaning="Close">Close</span>
                </button>
                <h6 class="modal-title" data-meaning="AccountMaster">Account Master</h6>
            </div>
            <div class="J-search">
            </div>
            <div style="margin:0 10px 5px 10px;">
                <table id="artificialTable"></table>
            </div>
            <div class="datagrid-pager page" id="paginagionartificialBar"></div>
            <div class="modal-footer" style="text-align:right;">              
                <button class="btn btn-success btn-sm" type="button" data-dismiss="modal" id="Cancel" data-meaning="Cancel" value="Cancel">Cancel</button>
                <button class="btn btn-success btn-sm" type="button" id="Comfirm" data-meaning="Comfirm" value="Comfirm">Comfirm</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <style>
        .mf-table-wrapper {
            overflow-x: auto;
        }

        .fix-table, .fix-head {
            width: 100%;
        }

        select {
            height: 25.5px;
            font-size: 12px;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            width: 90px;
        }
    </style>
    <script src="~/Content/js/knockout/knockout-3.0.0.js" type="text/javascript"></script>
    <script src="~/Content/js/current/pagination.js" type="text/javascript"></script>
    <script src="~/Content/js/current/Rander.js" type="text/javascript"></script>
    <script src="~/Content/js/current/Checker.js" type="text/javascript"></script>
    <script src="~/ViewModels/MES/IntelligentManufacturing/SFC00004Artificial.js" type="text/javascript"></script>
}
