@{
    ViewBag.Title = "SFC00002";
    Layout = "~/Views/Shared/_LayoutLang.cshtml";
}

@*制令制品制程-制程资源（人工）*@
<div id="tb_list" class="J-main">
    <div id="container" class="J-toolbar">
        <button class="btn btn-success btn-sm" onclick="model.refreshClick()"><i class="fa icon-arrow_refresh"></i> <span data-meaning="Refresh">Refresh</span></button>
        <button class="btn btn-success btn-sm" id="btn_save" onclick="model.saveClick()"><i class="fa icon-save"></i> <span data-meaning="Save">Save</span></button>
        <button class="btn btn-success btn-sm" onclick="model.addClick()"><i class="fa icon-add"></i> <span data-meaning="New">New</span></button>
        <button class="btn btn-success btn-sm" onclick="model.editClick()"><i class="fa icon-edit"></i> <span data-meaning="Change">Change</span></button>
        <button class="btn btn-success btn-sm" onclick="model.deleteClick()"><i class="fa icon-delete"></i> <span data-meaning="Deletion">Deletion</span></button>
        
    </div>
    <div class="J-search">
        <table class="MainForm">
            <tr class="MainFormFirst">
                <td class="td_label"><span data-meaning="OrderNum">Order Num.</span></td>
                <td><input id="OrderNum" type="text" class="search-input" style="width: 130px;" autocomplete="off" disabled="disabled" /></td>
                <td class="td_label"><span data-meaning="SequenceNo">Sequence No.</span></td>
                <td><input id="SequenceNo" type="text" class="search-input" style="width: 130px;" autocomplete="off" disabled="disabled" /></td>
                <td class="td_label"><span data-meaning="ProductCode">ProductCode</span></td>
                <td><input id="ItemCode" type="text" class="search-input" style="width: 130px;" autocomplete="off" disabled="disabled" /></td>
                <td class="td_label"><span data-meaning="NameSpecification">NameSpecification</span></td>
                <td><input id="ItemName" type="text" class="search-input" style="width: 130px;" autocomplete="off" disabled="disabled" /></td>
            </tr>
            <tr class="MainFormFirst">
                <td class="td_label"><span data-meaning="Qty">Quantity</span></td>
                <td><input id="Quantity" type="text" class="search-input" style="width: 130px;" autocomplete="off" disabled="disabled" /></td>
                <td class="td_label"><span data-meaning="ManufacturingUnit">Manufacturing Unit</span></td>

                <td>
                    <select class="search-select" style="width:130px;" data-bind="options:parameters.PT0191213000058,optionsValue:'text',optionsText:'text',
                        value:ManufacturingUnit,attr:{disabled:true}"></select>
                </td>
                <td class="td_label"><span data-meaning="WorkCenterNo">WorkCenterNo</span></td>
                <td><input id="WorkCenterCode" type="text" class="search-input" style="width: 130px;" autocomplete="off" disabled="disabled" /></td>
                <td class="td_label"><span data-meaning="WorkCenterDescription">WorkCenterDescription</span></td>
                <td><input id="WorkCenterName" type="text" class="search-input" style="width: 130px;" autocomplete="off" disabled="disabled" /></td>
            </tr>
            <tr>
                <td class="td_label"><span data-meaning="ProcessNo">ProcessNo</span></td>
                <td><input id="ProcessCode" type="text" class="search-input" style="width: 130px;" autocomplete="off" disabled="disabled" /></td>
                <td class="td_label"><span data-meaning="ProcessDescription">ProcessDescription</span></td>
                <td><input id="ProcessName" type="text" class="search-input" style="width: 130px;" autocomplete="off" disabled="disabled" /></td>
                <td class="td_label"><span data-meaning="IsEnableProcess">IsEnableProcess</span></td>
                <td><input id="IsOperation" type="text" class="search-input" style="width: 30px;" autocomplete="off" disabled="disabled" /></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="J-content">
        <div id="MainContent">
            <table id="MainTable"></table>
        </div>
        <div id="DetailContent">
            <div style="margin-top:5px">
                <table id="DetailTable"></table>
            </div>
            <div class="datagrid-pager page" id="paginagionDetailBar"></div>
        </div>
    </div>
</div>

@*资源开窗*@
<div class="modal inmodal" id="ResourcesDialog" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:600px;">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header" style="padding:16px !important">
                <span style="font-size:20px" data-meaning="ResourceMasterFile">Resource Master File</span>
                <button id="close" type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only" data-meaning="Close">Close</span>
                </button>
            </div>
            <div class="J-search">
                <span style="margin:5px 5px 8px 10px; width:60px;" data-meaning="SourceCode">SourceCode</span>
                <input type="text" class="search-input" style="width: 160px; margin:5px 5px 8px 0;" id="ResourcesCode" autocomplete="off" />
                <button class="btn btn-success btn-sm" id="ResourcesSearch" data-meaning="Search">Search</button>
            </div>
            <div class="ResourcesContent" style="margin:0 15px;">
                <table id="ResourcesTable"></table>
            </div>
            <div class="datagrid-pager page" id="paginagionResourcesBar" style="margin:0 15px;"></div>
            <div style="text-align:right;padding:5px 10px;">
               
                <button class="btn btn-success btn-sm" type="button" data-dismiss="modal" data-meaning="Cancel">Cancel</button>
                <button class="btn btn-success btn-sm" type="button" id="ResourcesConfirmBtn" data-meaning="Comfirm">Comfirm</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <style>
        .mf-table-wrapper {
            overflow-x: auto;
        }

        #MainContent .fix-table, #MainContent .fix-head {
            width: 130%;
        }

        #DetailContent .fix-table, #DetailContent .fix-head {
            width: 100%;
        }

        .ResourcesContent .fix-table, .ResourcesContent .fix-head {
            width: 100%;
        }

        .MainForm {
            width: 100%;
        }

        .MainFormFirst td {
            padding-bottom: 5px;
            vertical-align: middle;
        }

        .MainForm .td_label {
            text-align: right;
            padding-right: 5px;
        }
    </style>
    <script src="~/Content/js/knockout/knockout-3.0.0.js" type="text/javascript"></script>
    <script src="~/Content/js/current/pagination.js" type="text/javascript"></script>
    <script src="~/Content/js/current/Rander.js" type="text/javascript"></script>
    <script src="~/Content/js/current/Checker.js" type="text/javascript"></script>
    <script src="~/ViewModels/MES/IntelligentManufacturing/SFC00002ProcessResourcesArtificial.js" type="text/javascript"></script>
}
