
@{
    ViewBag.Title = "SFC00011  製程完工狀況分析(工作中心)";
    Layout = "~/Views/Shared/_LayoutLang.cshtml";
}

@*製程完工狀況分析(工作中心)*@
<div id="tb_list" class="J-main">
    <div id="container" class="J-toolbar">
    </div>
    <div class="J-search">
<!--
        <label data-meaning="StartWorkCenter">Start Work Center</label>
        <input type="text" class="search-input" data-bind="value:StartingWorkCenter" style="width: 140px;" autocomplete="off" />
        <label data-meaning="EndWorkCenter">End Work Center</label>
        <input type="text" class="search-input" data-bind="value:EndingWorkCenter" style="width: 140px;" autocomplete="off" />
-->
        <span data-meaning="StartWorkCenter">Start Work Center</span>
        <input id="StartWorkCenter" type="text" class="search-input td_left" style="width:120px;" data-bind="value:StartingWorkCenter" autocomplete="off" readonly/>
        <button type="button" class="btn btn-success btn-xs" onclick="model.showStartWorkCenter()" style="margin-right:5px;"><span class="fa fa-desktop"></span></button>
        <span data-meaning="EndWorkCenter">End Work Center</span>
        <input id="EndWorkCenter" type="text" class="search-input td_left" style="width:120px;" data-bind="value:EndingWorkCenter" autocomplete="off" readonly/>
        <button type="button" class="btn btn-success btn-xs" onclick="model.showEndWorkCenter()" style="margin-right:5px;"><span class="fa fa-desktop"></span></button>

<!--
        <label data-meaning="StartOrderNumber">Start Order Number</label>
        <input type="text" class="search-input" data-bind="value:StartOrderNumber" style="width: 140px;" autocomplete="off" />
        <label data-meaning="EndOrderNumber">End Order Number</label>
        <input type="text" class="search-input" data-bind="value:EndOrderNumber" style="width: 140px;" autocomplete="off" />
-->
        <label data-meaning="StartOrderNumber">Start Order Number</label>
        <input type="text" class="search-input" data-bind="value:StartOrderNumber" id="StartOrderNumber" style="width: 140px;" autocomplete="off" readonly="readonly" />
        <button type="button" class="btn btn-success btn-xs" onclick="model.MoCodeClick('1')" style="margin-right:4px;"><span class="fa fa-desktop"></span></button>
        <label data-meaning="EndOrderNumber">End Order Number</label>
        <input type="text" class="search-input" data-bind="value:EndOrderNumber" id="EndOrderNumber" style="width: 140px;" autocomplete="off" readonly="readonly" />
        <button type="button" class="btn btn-success btn-xs" onclick="model.MoCodeClick('2')" style="margin-right:4px;"><span class="fa fa-desktop"></span></button>

        <div style="padding-top:5px;">
            <label data-meaning="StartDateOfCompletion">Start Date Of Completion</label>
            <input type="text" class="search-input" data-bind="value:StartDateOfCompletion" id="StartDateOfCompletion" readonly style="width: 150px;margin-right:3px" autocomplete="off" />
            <label data-meaning="EndDateOfCompletion">End Date Of Completion</label>
            <input type="text" class="search-input" data-bind="value:EndDateOfCompletion" id="EndDateOfCompletion" readonly style="width: 150px;" autocomplete="off" />
        </div>
    </div>
    <div class="J-content" id="table-body">
        <table id="ProcessComlpletedTable"></table>
    </div>
    <div class="datagrid-pager page" id="paginagionBar"></div>
</div>


@*工序按鈕*@
<div class="modal inmodal" id="ProcessDialog" tabindex="0" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:850px;">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header" style="padding:5px 10px 5px 5px  !important">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Shut</span>
                </button>
                <h6 class="modal-title" data-meaning="ProcessOrderProcessDetails">Process Order Process Details</h6>
            </div>
            <div class="modal-body" style="padding: 0px 5px 2px!important" id="table-bodyData">
                <table id="ProcessTable" data-toggle="true" data-mobile-responsive="true"></table>
            </div>
            <div id="paginagionProcessBar" class="datagrid-pager page" style="padding-bottom:5px!important"></div>
            <div class="modal-footer" style="padding: 5px !important">
                <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" data-meaning="Cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>

@*起始工作中心弹窗*@
<div class="modal inmodal" id="StartWorkCenterDialog" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:600px;">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header" style="padding:16px !important">
                <button id="close" type="button" class="close" data-dismiss="modal" onclick="model.clearInput('#StartWorkCenterNo')">
                    <span aria-hidden="true">&times;</span><span class="sr-only" data-meaning="Close">Close</span>
                </button>
                <h6 class="modal-title" data-meaning="WorkCenterFile">Work Center File</h6>
            </div>
            <div class="J-search">
                <span data-meaning="WorkCenterNo" style="margin:5px 5px 8px 10px; width:60px;">Work Center No.</span>
                <input id="StartWorkCenterNo" type="text" class="search-input" style="width: 140px; margin:5px 5px 8px 0;" autocomplete="off" />
                <button class="btn btn-success btn-sm" type="button" onclick="model.StartWorkCenterNoSearch()" data-meaning="Search" value="Search">Search</button>
            </div>
            <div style="margin:0 10px 5px 10px;">
                <table id="StartWorkCenterTable"></table>
            </div>
            <div class="datagrid-pager page" id="paginagionStartWorkCenterBar" style="margin:0 10px;"></div>
            <div class="modal-footer" style="text-align:right; padding:8px 15px;">
                <button class="btn btn-success btn-sm" type="button" data-dismiss="modal" id="Cancel" data-meaning="Cancel" value="Cancel" onclick="model.clearInput('#StartWorkCenterNo')">Cancel</button>
                <button class="btn btn-success btn-sm" type="button" id="StartWorkCenterComfirm" data-meaning="Comfirm" onclick="model.clearInput('#StartWorkCenterNo')" value="Comfirm">Comfirm</button>
            </div>
        </div>
    </div>
</div>

@*结束工作中心弹窗*@
<div class="modal inmodal" id="EndWorkCenterDialog" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:600px;">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header" style="padding:16px !important">
                <button id="close" type="button" class="close" data-dismiss="modal" onclick="model.clearInput('#EndWorkCenterNo')">
                    <span aria-hidden="true">&times;</span><span class="sr-only" data-meaning="Close">Close</span>
                </button>
                <h6 class="modal-title" data-meaning="WorkCenterFile">Work Center File</h6>
            </div>
            <div class="J-search">
                <span data-meaning="WorkCenterNo" style="margin:5px 5px 8px 10px; width:60px;">Work Center No.</span>
                <input id="EndWorkCenterNo" type="text" class="search-input" style="width: 140px; margin:5px 5px 8px 0;" autocomplete="off" />
                <button class="btn btn-success btn-sm" type="button" onclick="model.EndWorkCenterNoSearch()" data-meaning="Search" value="Search">Search</button>
            </div>
            <div style="margin:0 10px 5px 10px;">
                <table id="EndWorkCenterTable"></table>
            </div>
            <div class="datagrid-pager page" id="paginagionEndWorkCenterBar" style="margin:0 10px;"></div>
            <div class="modal-footer" style="text-align:right; padding:8px 15px;">
                <button class="btn btn-success btn-sm" type="button" data-dismiss="modal" id="Cancel" data-meaning="Cancel" value="Cancel" onclick="model.clearInput('#EndWorkCenterNo')">Cancel</button>
                <button class="btn btn-success btn-sm" type="button" id="EndWorkCenterComfirm" data-meaning="Comfirm" onclick="model.clearInput('#EndWorkCenterNo')" value="Comfirm">Comfirm</button>
            </div>
        </div>
    </div>
</div>

@* 製令單號開窗 *@
<div class="modal inmodal" id="MoCodeDialog" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:800px;">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header" style="padding:16px !important">
                <span style="font-size:20px" data-meaning="MoNoMasterFile">MoNoMasterFile</span>
                <button id="close" type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only" data-meaning="Close">Close</span>
                </button>
            </div>
            <div class="J-search">
                <label data-meaning="MoNo" style="margin:5px 5px 8px 10px;">MoNo</label>
                <input type="text" class="search-input" id="MoNoTxt" style="width: 130px;" autocomplete="off" />
                <button class="btn btn-success btn-sm" onclick="model.searchMoCodeClick()" type="button" data-meaning="Search" value="Search">Search</button>
            </div>
            <div id="table-MoCode" style="margin:0px 10px;">
                <table id="MoCodeTable"></table>
            </div>
            <div class="datagrid-pager page" id="MoCodePageBar"></div>
            <div class="modal-footer" style="text-align:right;padding:5px 10px;">
                <button class="btn btn-success btn-sm" id="MoCodeComfirm" type="button" data-meaning="Comfirm">Comfirm</button>
                <button class="btn btn-success btn-sm" type="button" data-dismiss="modal" data-meaning="Cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <style>
        .mf-table-wrapper {
            overflow-x: auto;
        }

        #table-body .fix-table, #table-body .fix-head {
            width: 290%;
        }

        #table-bodyData .fix-table, #table-bodyData .fix-head {
            width: 240%;
        }
        #table-MoCode .fix-table,#table-MoCode .fix-head {
            width: 140%;
        }
    </style>
    <script src="~/Content/js/hplus/plugins/layer/laydate/laydate.js"></script>
    <script src="~/Content/js/knockout/knockout-3.0.0.js" type="text/javascript"></script>
    <script src="~/Content/js/current/pagination.js" type="text/javascript"></script>
    <script src="~/Content/js/current/Rander.js" type="text/javascript"></script>
    <script src="~/Content/js/current/Checker.js" type="text/javascript"></script>
    <script src="~/Content/js/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/js/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/js/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
    <script src="~/Content/js/bootstrap-datepicker/locales/bootstrap-datepicker.zh-TW.min.js"></script>
    <script src="~/ViewModels/MES/IntelligentManufacturing/SFC00011.js" type="text/javascript"></script>

}
