@{
    ViewBag.Title = "SFC00002 制令单维护";
    Layout = "~/Views/Shared/_LayoutLang.cshtml";
}

@*制令单维护表头,明细*@
<div id="tb_list" class="J-main">
    <div id="container" class="J-toolbar"></div>
    <div class="J-search">
        <lable data-meaning="StartItemCode">Start Item Code</lable>
        <input type="text" class="search-input" id="StartItemCode" style="width: 120px;" />
        <input type="text" class="search-input" id="StartItemCodeID" style="width: 120px;display:none;"/>
        <button type="button" class="btn btn-success btn-xs" onclick="model.SearchItemCode('#StartItemCode')" style="margin-right:4px;"><span class="fa fa-desktop"></span></button>
        
        <lable data-meaning="EndItemCode">End Item Code</lable>
        <input type="text" class="search-input" id="EndItemCode" @*data-bind="value:EndItemCode"*@ style="width: 120px;"/>
        <input type="text" class="search-input" id="EndItemCodeID" style="width: 120px;display:none;" />
        <button type="button" class="btn btn-success btn-xs" onclick="model.SearchItemCode('#EndItemCode')" style="margin-right:4px;"><span class="fa fa-desktop"></span></button>

        <lable data-meaning="StartOrderNumber">Start Order Number</lable>
        <input type="text" class="search-input" id="StartOrderNumber" @*data-bind="value:StartOrderNumber"*@ style="width: 120px;"/>
        <input type="text" class="search-input" id="StartOrderNumberID" style="width: 120px;display:none;"/>    
        @*<input type="text" class="search-input" id="StartSequence" data-bind="value:StartOrderSequence" style="width: 30px;display:none;" autocomplete="off" />*@
        <button type="button" class="btn btn-success btn-xs" onclick="model.SearchCode('#StartOrderNumber', '#StartSequence')" style="margin-right:4px;"><span class="fa fa-desktop"></span></button>
        
        <lable data-meaning="EndOrderNumber">End Order Number</lable>
        <input type="text" class="search-input" id="EndOrderNumber" @*data-bind="value:EndOrderNumber"*@ style="width: 120px;"/>
        <input type="text" class="search-input" id="EndOrderNumberID" style="width: 120px;display:none;" />  
        @*<input type="text" class="search-input" id="EndSequence" data-bind="value:EndOrderSequence" style="width: 30px;display:none;" autocomplete="off" />*@
        <button type="button" class="btn btn-success btn-xs" onclick="model.SearchCode('#EndOrderNumber', '#EndSequence')" style="margin-right:4px;"><span class="fa fa-desktop"></span></button>

        <div id="secondRow" style="padding-top:5px;">
            <lable data-meaning="Client">Client</lable>
            <input type="text" class="search-input" id="Client" @*data-bind="value:Client"*@ style="width: 120px;"/>
            <input type="text" class="search-input" id="ClientID" @*data-bind="value:ClientID"*@ style="width: 30px;display:none;" />
            <button type="button" class="btn btn-success btn-xs" onclick="model.UserClick()" style="margin-right:4px;"><span class="fa fa-desktop"></span></button>

            <lable data-meaning="AccountName">AccountName</lable>
            <input type="text" class="search-input" id="AccountName" @*data-bind="click:aa"*@ style="width: 120px;"/>
            <input type="text" class="search-input" id="AccountNameID" @*data-bind="value:aaID"*@ style="width: 30px;display:none;"/>
            <button type="button" class="btn btn-success btn-xs" onclick="model.AccountClick()" style="margin-right:4px;"><span class="fa fa-desktop"></span></button>
       
            <lable data-meaning="Controller">Controller</lable>
            <input type="text" class="search-input" id="Controller" @*data-bind="value:Controller"*@ style="width: 120px;"/>
            <input type="text" class="search-input" id="ControllerID" @*data-bind="value:ControllerID"*@ style="width: 30px;display:none;"/>
            <button type="button" class="btn btn-success btn-xs" onclick="model.ControllerClick()" style="margin-right:4px;"><span class="fa fa-desktop"></span></button>
        
            <lable data-meaning="Status">Status</lable>&nbsp;
            <div id="Status" data-bind="value:Status" style="display: inline-block; padding: 3px 5px; border:1px solid #ccc"></div>
            <input id="SStatus"  style="display: none;">
         </div>

        @*<label data-meaning="OrderNum">OrderNum</label>*@
        <input type="text" id="OrderNum" class="search-input" style="width: 160px;display:none;" autocomplete="off" data-bind="value: formData.OrderNum" />

        @*<label data-meaning="OrderNum">OrderNum</label>
        <input type="text" class="search-input" style="width: 160px;" autocomplete="off" data-bind="value: formData.OrderNum" />*@
    </div>
    <div class="J-content">
        <div id="MainContent">
            <table id="MainTable"></table>
        </div>
        <div class="datagrid-pager page" id="MainPageBar"></div>
        <div id="DetailContent">
            <table id="DetailTable"></table>
        </div>
        <div class="datagrid-pager page" id="DetailPageBar"></div>
    </div>
</div>

@*制令单表头-->开窗新增*@
<div class="modal inmodal" id="AddMainOrderDialog" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:800px;">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header" style="padding:16px !important">
                <span style="font-size:20px" data-meaning="AddOrder">Add Order</span>
                <button id="close" type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only" data-meaning="Close">Close</span>
                </button>
            </div>
            <div class="Content" style="margin:20px 10px;">
               <table style="width:100%" id="addMainDataID">

                   <tr>
                       <td>
                           <label data-meaning="Controller">Controller</label>
                       </td>
                       <td>
                           <input class="search-input" style="width:130px;"  data-bind="value:addFormData.Controller" autocomplete="off"  readonly/>
                           <button type="button" class="btn btn-success btn-xs" data-bind="click: addControllerClick"  style="margin-right:4px;"><span class="fa fa-desktop"></span></button>
                       </td>
                       <td>
                           <span class="startSytle">* </span>
                           <label data-meaning="DocumentCategory">Document Category</label>
                       </td>
                       <td>
                           <select class="search-select" style="width:130px;" data-bind="options:formData.DocumentCategoryArray,
                                   optionsValue:'value',optionsText:'text',value:addFormData.DocumentCategory,
                                   event:{ change : function(data, event) { 
                                   onchangeDocumentCategory()
                                      } 
                                   }"  >
                           </select>
                       </td>
                       @*<td>
                           <label data-meaning="DocumentNo">Document No.</label>
                       </td>
                       <td>
                           <input class="search-input" style="width:130px;" data-bind="value:addFormData.DocumentNumber,
                                  attr:{ disabled : true }" autocomplete="off" />
                       </td>*@
                       <td>
                           <label data-meaning="DocumentSource">Document Source</label>
                       </td>
                       <td>
                           <select class="search-select" style="width:130px;" data-bind="options:formData.DocumentSourceArray,
                                   optionsValue:'value',optionsText:'text',value:addFormData.DocumentSource,
                                    attr:{ disabled : true }" autocomplete="off"></select>
                       </td>
                   </tr>

                   <tr>
                       <td>
                           <span class="startSytle">* </span>
                           <label data-meaning="DocumentDate">Document Date</label>
                       </td>
                       <td>

                           <input class="search-input" style="width:130px;" id="DocumentDate" data-bind="value:addFormData.DocumentDate" autocomplete="off" readonly/>
                       </td>


                       <td>
                           <span class="startSytle">* </span>
                           <label data-meaning="OrderNum">Order No.</label>
                       </td>
                       <td>

                           <input class="search-input" style="width:130px;" data-bind="value:addFormData.OrderNum,
                                   attr:{ disabled : true }" autocomplete="off" />
                       </td>
                       <td>
                           <label data-meaning="SequenceNo">Sequence No.</label>
                       </td>
                       <td>
                           <input class="search-input" style="width:130px;" data-bind="value:addFormData.SequenceNo,
                                  attr:{ disabled : true }" autocomplete="off" />
                       </td>

                   </tr>


                   <tr>
                       <td>
                           <label data-meaning="Version">Version</label>
                       </td>
                       <td>
                           <input class="search-input" style="width:130px;" data-bind="value:addFormData.Version,
                                  attr:{ disabled : true }" autocomplete="off" />
                       </td>


                      
                       <td>
                           <span class="startSytle">* </span><label data-meaning="ItemNo">Item No.</label>
                       </td>
                       <td>
                           <input id="ItemNos" class="search-input" style="width:130px;" data-bind="value:addFormData.ItemNo,attr:{ readonly : true },event:{ change : addFormData.onchangeItemNo}" autocomplete="off" />
                           <button type="button" class="btn btn-success btn-xs" data-bind="click: addItemNoClick" style="margin-right:4px;"><span class="fa fa-desktop"></span></button>
                       </td>
                       <td>
                           <label data-meaning="ItemDescription">Item Description</label>
                       </td>
                       <td>
                           <input class="search-input" style="width:130px;" data-bind="value:addFormData.ItemDescription,
                                  attr:{ disabled : true }" autocomplete="off" />
                       </td>

                   </tr>

                   <tr>
                       <td>
                           <label data-meaning="ItemSpecification">Item Specification</label>
                       </td>
                       <td>
                           <input class="search-input" style="width:130px;" data-bind="value:addFormData.ItemSpecification,
                                  attr:{ disabled : true }" autocomplete="off" />
                       </td>
                      
                       <td>
                           <span id="IsToLotNo" style="color:red;"></span> <label data-meaning="LotNo">Lot No.</label>
                       </td>
                       <td>
                           
                           <input class="search-input" style="width:130px;" id="AddLotNoID"
                                   data-bind="value:addFormData.LotNo" autocomplete="off" />
                       </td>
                       <td>
                           <span class="startSytle">* </span><label data-meaning="Qty">Qty</label>
                       </td>
                       <td>
                           <input class="search-input" style="width:130px;" type="number"
                                   data-bind="value:addFormData.Qty" autocomplete="off" ,
                                  onkeyup="model.KeyQty(this);"/>
                       </td>

                   </tr>

                   <tr>
                       <td>
                           <label data-meaning="OverRate">OverRate</label>
                       </td>
                       <td>
                           <input class="search-input" style="width:130px;" type="number"
                                  data-bind="value:addFormData.OverRate" autocomplete="off" />
                       </td>


                       <td>
                           <label data-meaning="OrderCompletion">Order Completion</label>
                       </td>
                       <td>
                           <input class="search-input" style="width:130px;" data-bind="value:addFormData.OrderCompletion,
                                  attr:{ disabled : true }" autocomplete="off" />
                       </td>
                       <td>
                           <label data-meaning="NumberManufBeforeDismantling">Number ManufBefore Dismantling</label>
                       </td>
                       <td>
                           <input class="search-input" style="width:130px;" data-bind="value:addFormData.NumberManufBeforeDismantling,
                                  attr:{ disabled : true }" autocomplete="off" />
                       </td>

                   </tr>

                   <tr>
                       <td>
                           <label data-meaning="ManufacturingUnit">Manufacturing Unit</label>
                       </td>
                       <td>
                           <input class="search-input" style="width:130px;" data-bind="value:addFormData.ManufacturingUnit,
                                  attr:{ disabled : true }" autocomplete="off" />
                       </td>


                       <td>
                           <span class="startSytle">* </span><label data-meaning="EstimatedStartDate">Estimated Start Date</label>
                       </td>
                       <td>
                           <input class="search-input" id="AddEstimatedStartDate" style="width:130px;" data-bind="value:addFormData.EstimatedStartDate,
                                  attr: { readonly : true }" autocomplete="off" />
                       </td>
                       <td>
                           <span class="startSytle">* </span><label data-meaning="EstimatedFinishDate">Estimated Finish Date</label>
                       </td>
                       <td>
                           <input class="search-input" id="AddEstimatedFinishDate" style="width:130px;" data-bind="value:addFormData.EstimatedFinishDate,
                                  attr: { readonly : true }" autocomplete="off" />
                       </td>

                   </tr>

                   <tr>
                       <td>
                           <label data-meaning="OrderNo">Order No.</label>
                       </td>
                       <td>
                           <input class="search-input" style="width:130px;" data-bind="value:addFormData.OrderNo" autocomplete="off" />
                       </td>


                       <td>
                           <label data-meaning="QuantityOrder">Quantity Order</label>
                       </td>
                       <td>
                           <input class="search-input" style="width:130px;"  type="number"
                                  data-bind="value:addFormData.QuantityOrder" autocomplete="off" />
                       </td>
                       <td>
                           <label data-meaning="CustomerNo">Customer No.</label>
                       </td>
                       <td>
                           <input class="search-input" style="width:130px;" data-bind="value:addFormData.CustomerNo,
                                  attr: { readonly : true }" autocomplete="off" />
                           <button type="button" class="btn btn-success btn-xs" data-bind="click: addCustomerNoClick" style="margin-right:4px;"><span class="fa fa-desktop"></span></button>
                       </td>

                   </tr>

                   <tr>
                       <td>
                           <label data-meaning="CustomerName">Customer Name</label>
                       </td>
                       <td>
                           <input class="search-input" style="width:130px;" data-bind="value:addFormData.CustomerName,
                                  attr: { disabled : true }" autocomplete="off" />
                       </td>


                       <td>
                           <label data-meaning="SalesmanCode">Salesman Code</label>
                       </td>
                       <td>
                           <input class="search-input" style="width:130px;" data-bind="value:addFormData.SalesmanCode,
                                  attr: { readonly : true }" autocomplete="off" />
                           <button type="button" class="btn btn-success btn-xs" data-bind="click: addSalesmanCodeClick" style="margin-right:4px;"><span class="fa fa-desktop"></span></button>
                       </td>
                       <td>
                           <label data-meaning="AccountName">Account Name</label>
                       </td>
                       <td>
                           <input class="search-input" style="width:130px;" data-bind="value:addFormData.AccountName,
                                   attr:{ disabled : true }" autocomplete="off" />
                       </td>

                   </tr>

                   <tr>
                       <td>
                           <label data-meaning="EstimatedShippingDate">Estimated Shipping Date</label>
                       </td>
                       <td>
                           <input class="search-input" style="width:130px;" data-bind="value:addFormData.EstimatedShippingDate,
                                  attr: { readonly : true }" id="AddEstimatedShippingDate" autocomplete="off" />
                       </td>


                       <td>
                           <label data-meaning="PreWarehouse">Pre-Warehouse</label>
                       </td>
                       <td>
                           <input class="search-input" style="width:130px;" data-bind="value:addFormData.PreWarehouse,
                                  attr:{ readonly : true }" autocomplete="off" />
                           <button type="button" class="btn btn-success btn-xs" data-bind="click: addPreWarehouseClick" style="margin-right:4px;"><span class="fa fa-desktop"></span></button>

                       </td>
                       <td>
                           <label data-meaning="OrderSingleState">Order Single State</label>
                       </td>
                       <td>                           
                           <select class="search-select" style="width:130px;" data-bind="options:formData.OrderSingleStateArray,
                                   optionsValue:'value',optionsText:'text',value:addFormData.OrderSingleState,
                                   attr:{ disabled : true}" autocomplete="off"></select>
                       </td>

                   </tr>
                   
                   <tr>
                       <td>
                           <label data-meaning="Remark">Remark</label>
                       </td>
                       <td>
                           <input class="search-input" style="width:130px;" data-bind="value:addFormData.Remark" autocomplete="off" />
                       </td>   
                   </tr>                                                  
               </table>
            </div>           
            <div class="modal-footer" style="text-align:right;padding:5px 10px;">
                <button class="btn btn-success btn-sm" type="button" data-dismiss="modal" data-meaning="Cancel">Cancel</button>
                <button class="btn btn-success btn-sm" type="button" @*data-bind="click: SaveMainOrderDataClick"*@ onclick="model.SaveMainOrderDataClick()" data-meaning="Comfirm">Comfirm</button>
            </div>
        </div>
    </div>
</div>

@*制令单表头-->新增开窗管制员数据*@
<div class="modal inmodal" id="AddEmployeeDialog" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:800px;">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header" style="padding:16px !important">
                <span style="font-size:20px" data-meaning="AccountMaintenance">Account Maintenance</span>
                <button id="close" type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only" data-meaning="Close">Close</span>
                </button>
            </div>
            <div class="J-search">
                <label data-meaning="WorkNumber" style="margin:5px 5px 8px 10px;">Work Number</label>
                <input  type="text" class="search-input" data-bind="value:formData.WorkNumber" style="width: 130px;" autocomplete="off" />
                <button class="btn btn-success btn-sm" data-bind="click:searchWorkNumberClick" type="button" data-meaning="Search" value="Search">Search</button>
            </div>
            <div class="Employee_Table_Content" style="margin:0px 10px;">             
               <table id="AddEmployeeTable"></table>                                                  
            </div>
            <div class="datagrid-pager page" id="AddEmployeePageBar"></div>
            <div class="modal-footer" style="text-align:right;padding:5px 10px;">
               
                <button class="btn btn-success btn-sm" type="button" data-dismiss="modal" data-meaning="Cancel">Cancel</button>
                <button class="btn btn-success btn-sm" data-bind="click:AddEmployeeComfirmClick" type="button" data-meaning="Comfirm">Comfirm</button>
            </div>
        </div>
    </div>
</div>

@*制令单表头-->新增开窗(制品制程资料维护)获取"料品代号"数据*@
<div class="modal inmodal" id="AddItemNoDialog" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:800px;">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header" style="padding:16px !important">
                <span style="font-size:20px" data-meaning="ProductProcessFile">Product Process File</span>
                <button id="close" type="button" class="close" data-dismiss="modal" onclick="model.clearItem()">
                    <span aria-hidden="true">&times;</span><span class="sr-only" data-meaning="Close">Close</span>
                </button>
            </div>
            <div class="J-search">
                <label data-meaning="ItemNo" style="margin:5px 5px 8px 10px;">Item No.</label>
                <input type="text" class="search-input" data-bind="value:formData.ItemNumber" style="width: 130px;" autocomplete="off" />
                <button class="btn btn-success btn-sm" data-bind="click:searchItemNoClick" type="button" data-meaning="Search" value="Search">Search</button>
            </div>
            <div class="ItemNo_Table_Content" style="margin:0px 10px;">
                <table id="AddItemNoTable"></table>
            </div>
            <div class="datagrid-pager page" id="AddItemNoPageBar"></div>
            <div class="modal-footer" style="text-align:right;padding:5px 10px;">
                
                <button class="btn btn-success btn-sm" type="button" data-dismiss="modal" data-meaning="Cancel" onclick="model.clearItem()">Cancel</button>
                <button class="btn btn-success btn-sm" data-bind="click:ItemNoComfirmClick" type="button" data-meaning="Comfirm">Comfirm</button>
            </div>
        </div>
    </div>
</div>

@*制令单表头-->新增开窗获取"客户代号"数据*@
<div class="modal inmodal" id="AddCustomerNoDialog" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:800px;">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header" style="padding:16px !important">
                <span style="font-size:20px" data-meaning="CustomerData">Customer Data</span>
                <button id="close" type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only" data-meaning="Close">Close</span>
                </button>
            </div>
            <div class="J-search">
                <label data-meaning="CustomerNo" style="margin:5px 5px 8px 10px;">Item No.</label>
                <input type="text" class="search-input" data-bind="value:formData.searchCustomerNo" style="width: 130px;" autocomplete="off" />
                <button class="btn btn-success btn-sm" data-bind="click:searchCustomerNoClick" type="button" data-meaning="Search" value="Search">Search</button>
            </div>
            <div class="CustomerNo_Table_Content" style="margin:0px 10px;">
                <table id="AddCustomerNoTable"></table>
            </div>
            <div class="datagrid-pager page" id="AddCustomerNoPageBar"></div>
            <div class="modal-footer" style="text-align:right;padding:5px 10px;">
                
                <button class="btn btn-success btn-sm" type="button" data-dismiss="modal" data-meaning="Cancel">Cancel</button>
                <button class="btn btn-success btn-sm" data-bind="click:AddCustomerNoComfirmClick" type="button" data-meaning="Comfirm">Comfirm</button>
            </div>
        </div>
    </div>
</div>

@*制令单表头-->新增开窗业务员数据*@
<div class="modal inmodal" id="AddSalesManDialog" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:800px;">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header" style="padding:16px !important">
                <span style="font-size:20px" data-meaning="AccountMaintenance">Account Maintenance</span>
                <button id="close" type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only" data-meaning="Close">Close</span>
                </button>
            </div>
            <div class="J-search">
                <label data-meaning="WorkNumber" style="margin:5px 5px 8px 10px;">Work Number</label>
                <input type="text" class="search-input" data-bind="value:formData.WorkNumber" style="width: 130px;" autocomplete="off" />
                <button class="btn btn-success btn-sm" data-bind="click:searchSalesManClick" type="button" data-meaning="Search" value="Search">Search</button>
            </div>
            <div class="SalesMan_Table_Content" style="margin:0px 10px;">
                <table id="AddSalesManTable"></table>
            </div>
            <div class="datagrid-pager page" id="AddSalesManPageBar"></div>
            <div class="modal-footer" style="text-align:right;padding:5px 10px;">
                
                <button class="btn btn-success btn-sm" type="button" data-dismiss="modal" data-meaning="Cancel">Cancel</button>
                <button class="btn btn-success btn-sm" data-bind="click:AddSalesManComfirmClick" type="button" data-meaning="Comfirm">Comfirm</button>
            </div>
        </div>
    </div>
</div>

@*制令单表头-->新增开窗预设仓库数据*@
<div class="modal inmodal" id="AddPreWarehouseDialog" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:800px;">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header" style="padding:16px !important">
                <span style="font-size:20px" data-meaning="AccountMaintenance">Account Maintenance</span>
                <button id="close" type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only" data-meaning="Close">Close</span>
                </button>
            </div>
            <div class="J-search">
                <label data-meaning="PreWarehouse" style="margin:5px 5px 8px 10px;">Pre Warehouse</label>
                <input type="text" class="search-input" data-bind="value:formData.PreWarehouseCode" style="width: 130px;" autocomplete="off" />
                <button class="btn btn-success btn-sm" data-bind="click:searchPreWarehouseClick" type="button" data-meaning="Search" value="Search">Search</button>
            </div>
            <div class="PreWarehouse_Table_Content" style="margin:0px 10px;">
                <table id="AddPreWarehouseTable"></table>
            </div>
            <div class="datagrid-pager page" id="AddPreWarehousePageBar"></div>
            <div class="modal-footer" style="text-align:right;padding:5px 10px;">
                
                <button class="btn btn-success btn-sm" type="button" data-dismiss="modal" data-meaning="Cancel">Cancel</button>
                <button class="btn btn-success btn-sm" data-bind="click:AddPreWarehouseComfirmClick" type="button" data-meaning="Comfirm">Comfirm</button>
            </div>
        </div>
    </div>
</div>

@*制令单表头-->开窗编辑*@
<div class="modal inmodal" id="EditMainOrderDialog" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:800px;">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header" style="padding:16px !important">
                <span style="font-size:20px" data-meaning="EditOrder">Edit Order</span>
                <button id="close" type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only" data-meaning="Close">Close</span>
                </button>
            </div>
            <div class="Content" style="margin:20px 10px;">
                <table style="width:100%" id="editMainDataID">                  
                    <tr>
                        <td>
                            <label data-meaning="DocumentSource">Document Source</label>
                        </td>
                        <td>
                            <select class="search-select" style="width:130px;" data-bind="options:editFormData.DocumentSourceArray,
                                   optionsValue:'value',optionsText:'text',value:editFormData.DocumentSource,
                                     attr:{ disabled : true }" autocomplete="off"></select>
                        </td>
                        <td>
                            <label data-meaning="OrderNum">Order No.</label>
                        </td>
                        <td>
                            <input class="search-input" style="width:130px;" data-bind="value:editFormData.OrderNum,
                                   attr:{ disabled : true }" autocomplete="off" />
                        </td>
                        <td>
                            <span class="startSytle">* </span>
                            <label data-meaning="DocumentDate">Document Date</label>
                        </td>
                        <td>

                            <input class="search-input" style="width:130px;" id="DocumentDate" data-bind="value:editFormData.DocumentDate,attr:{ disabled : true  }" autocomplete="off" />
                        </td>
                    </tr>


                    <tr>
 
                        <td>
                            <label data-meaning="SequenceNo">Sequence No.</label>
                        </td>
                        <td>
                            <input class="search-input" style="width:130px;" data-bind="value:editFormData.SequenceNo,
                                  attr:{ disabled : true }" autocomplete="off" />
                        </td>
                        <td>
                            <label data-meaning="Version">Version</label>
                        </td>
                        <td>
                            <input class="search-input" style="width:130px;" data-bind="value:editFormData.Version,
                                  attr:{ disabled : true  }" autocomplete="off" />
                        </td>

                        <td>
                            <span class="startSytle">* </span><label data-meaning="ItemNo">Item No.</label>
                        </td>
                        <td>
                            <input class="search-input" style="width:130px;" data-bind="value:editFormData.ItemNo,
                                  attr:{ disabled : true }" autocomplete="off" />
                           
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label data-meaning="ItemDescription">Item Description</label>
                        </td>
                        <td>
                            <input class="search-input" style="width:130px;" data-bind="value:editFormData.ItemDescription,
                                  attr:{ disabled : true }" autocomplete="off" />
                        </td>


                        <td>
                            <label data-meaning="ItemSpecification">Item Specification</label>
                        </td>
                        <td>
                            <input class="search-input" style="width:130px;" data-bind="value:editFormData.ItemSpecification,
                                  attr:{ disabled : true }" autocomplete="off" />
                        </td>
                        <td>
                            <span id="IsToLotNo" style="color:red;"></span> <label data-meaning="LotNo">Lot No.</label>
                        </td>
                        <td>

                            <input class="search-input" style="width:130px;" id="EditLotNoID"
                                   data-bind="value:editFormData.LotNo,attr:{ disabled : true }" autocomplete="off" />
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <span class="startSytle">* </span><label data-meaning="Qty">Qty</label>
                        </td>
                        <td>
                            <input class="search-input" style="width:130px;" type="number"
                                   data-bind="value:editFormData.Qty" autocomplete="off" ,
                                   onkeyup="model.EditKeyQty(this);" />
                        </td>

                        <td>
                            <label data-meaning="OverRate">OverRate</label>
                        </td>
                        <td>
                            <input class="search-input" style="width:130px;" type="number"
                                   data-bind="value:editFormData.OverRate" autocomplete="off" />
                        </td>
                        <td>
                            <label data-meaning="OrderCompletion">Order Completion</label>
                        </td>
                        <td>
                            <input class="search-input" style="width:130px;" data-bind="value:editFormData.OrderCompletion,
                                  attr:{ disabled : true }" autocomplete="off" />
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label data-meaning="NumberManufBeforeDismantling">Number ManufBefore Dismantling</label>
                        </td>
                        <td>
                            <input class="search-input" style="width:130px;" data-bind="value:editFormData.NumberManufBeforeDismantling,
                                  attr:{ disabled : true }" autocomplete="off" />
                        </td>


                        <td>
                            <label data-meaning="ManufacturingUnit">Manufacturing Unit</label>
                        </td>
                        <td>
                            <select class="search-select" style="width:130px;" data-bind="options:editFormData.ManufacturingUnitArray,
                                   optionsValue:'value',optionsText:'text',value:editFormData.ManufacturingUnit,
                                     attr:{ disabled : true }" autocomplete="off"></select>
                        </td>
                        <td>
                            <label data-meaning="EstimatedStartDate">Estimated Start Date</label>
                        </td>
                        <td>
                            <input class="search-input" id="EditEstimatedStartDate" style="width:130px;" data-bind="value:editFormData.EstimatedStartDate,
                                  attr: { readonly : true }" autocomplete="off" />
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label data-meaning="EstimatedFinishDate">Estimated Finish Date</label>
                        </td>
                        <td>
                            <input class="search-input" id="editEstimatedFinishDate" style="width:130px;" data-bind="value:editFormData.EstimatedFinishDate,
                                  attr: { readonly : true }" autocomplete="off" />
                        </td>

                        <td>
                            <label data-meaning="OrderNo">Order No.</label>
                        </td>
                        <td>
                            <input class="search-input" style="width:130px;" data-bind="value:editFormData.OrderNo" autocomplete="off" />
                        </td>
                        <td>
                            <label data-meaning="QuantityOrder">Quantity Order</label>
                        </td>
                        <td>
                            <input class="search-input" style="width:130px;" type="number"
                                   data-bind="value:editFormData.QuantityOrder" autocomplete="off" />
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label data-meaning="CustomerNo">Customer No.</label>
                        </td>
                        <td>
                            <input class="search-input" style="width:130px;" data-bind="value:editFormData.CustomerNo,
                                  attr: { readonly : true }" autocomplete="off" />
                            <button type="button" class="btn btn-success btn-xs" data-bind="click: editCustomerNoClick" style="margin-right:4px;"><span class="fa fa-desktop"></span></button>
                        </td>

                        <td>
                            <label data-meaning="CustomerName">Customer Name</label>
                        </td>
                        <td>
                            <input class="search-input" style="width:130px;" data-bind="value:editFormData.CustomerName,
                                  attr: { disabled : true }" autocomplete="off" />
                        </td>
                        <td>
                            <label data-meaning="SalesmanCode">Salesman Code</label>
                        </td>
                        <td>
                            <input class="search-input" style="width:130px;" data-bind="value:editFormData.SalesmanCode,
                                  attr: { readonly : true }" autocomplete="off" />
                            <button type="button" class="btn btn-success btn-xs" data-bind="click: editSalesmanCodeClick" style="margin-right:4px;"><span class="fa fa-desktop"></span></button>
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label data-meaning="AccountName">Account Name</label>
                        </td>
                        <td>
                            <input class="search-input" style="width:130px;" data-bind="value:editFormData.AccountName,
                                   attr:{ disabled : true }" autocomplete="off" />
                        </td>


                        <td>
                            <label data-meaning="EstimatedShippingDate">Estimated Shipping Date</label>
                        </td>
                        <td>
                            <input class="search-input" style="width:130px;" data-bind="value:editFormData.EstimatedShippingDate,
                                  attr: { readonly : true }" id="EditEstimatedShippingDate" autocomplete="off" />
                        </td>
                        <td>
                            <label data-meaning="PreWarehouse">Pre-Warehouse</label>
                        </td>
                        <td>
                            <input class="search-input" style="width:130px;" data-bind="value:editFormData.PreWarehouse,
                                  attr:{ readonly : true }" autocomplete="off" />
                            <button type="button" class="btn btn-success btn-xs" data-bind="click: editPreWarehouseClick" style="margin-right:4px;"><span class="fa fa-desktop"></span></button>

                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label data-meaning="OrderSingleState">Order Single State</label>
                        </td>
                        <td>
                            <select class="search-select" style="width:130px;" data-bind="options:editFormData.OrderSingleStateArray,
                                   optionsValue:'value',optionsText:'text',value:editFormData.OrderSingleState,
                                   attr:{ disabled : true}" autocomplete="off"></select>
                        </td>
                        <td>
                            <label data-meaning="Remark">Remark</label>
                        </td>
                        <td>
                            <input class="search-input" style="width:130px;" data-bind="value:editFormData.Remark" autocomplete="off" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer" style="text-align:right;padding:5px 10px;">
                
                <button class="btn btn-success btn-sm" type="button" data-dismiss="modal" data-meaning="Cancel">Cancel</button>
                <button class="btn btn-success btn-sm" type="button" data-bind="click: EditSaveMainOrderDataClick" data-meaning="Save">Save</button>
            </div>
        </div>
    </div>
</div>

@*制令单表头-->修改开窗获取"客户代号"数据*@
<div class="modal inmodal" id="EditCustomerNoDialog" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:800px;">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header" style="padding:16px !important">
                <span style="font-size:20px" data-meaning="CustomerData">Customer Data</span>
                <button id="close" type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only" data-meaning="Close">Close</span>
                </button>
            </div>
            <div class="J-search">
                <label data-meaning="CustomerNo" style="margin:5px 5px 8px 10px;">Item No.</label>
                <input type="text" class="search-input" data-bind="value:formData.searchCustomerNo" style="width: 130px;" autocomplete="off" />
                <button class="btn btn-success btn-sm" data-bind="click:EditSearchCustomerNoClick" type="button" data-meaning="Search" value="Search">Search</button>
            </div>
            <div class="CustomerNo_Table_Content" style="margin:0px 10px;">
                <table id="EditCustomerNoTable"></table>
            </div>
            <div class="datagrid-pager page" id="EditCustomerNoPageBar"></div>
            <div class="modal-footer" style="text-align:right;padding:5px 10px;">
                
                <button class="btn btn-success btn-sm" type="button" data-dismiss="modal" data-meaning="Cancel">Cancel</button>
                <button class="btn btn-success btn-sm" data-bind="click:EditCustomerNoComfirmClick" type="button" data-meaning="Comfirm">Comfirm</button>
            </div>
        </div>
    </div>
</div>

@*制令单表头-->修改开窗业务员数据*@
<div class="modal inmodal" id="EditSalesManDialog" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:800px;">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header" style="padding:16px !important">
                <span style="font-size:20px" data-meaning="AccountMaintenance">Account Maintenance</span>
                <button id="close" type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only" data-meaning="Close">Close</span>
                </button>
            </div>
            <div class="J-search">
                <label data-meaning="WorkNumber" style="margin:5px 5px 8px 10px;">Work Number</label>
                <input type="text" class="search-input" data-bind="value:formData.WorkNumber" style="width: 130px;" autocomplete="off" />
                <button class="btn btn-success btn-sm" data-bind="click:EditSearchSalesManClick" type="button" data-meaning="Search" value="Search">Search</button>
            </div>
            <div class="SalesMan_Table_Content" style="margin:0px 10px;">
                <table id="EditSalesManTable"></table>
            </div>
            <div class="datagrid-pager page" id="EditSalesManPageBar"></div>
            <div class="modal-footer" style="text-align:right;padding:5px 10px;">
              
                <button class="btn btn-success btn-sm" type="button" data-dismiss="modal" data-meaning="Cancel">Cancel</button>
                <button class="btn btn-success btn-sm" data-bind="click:EditSalesManComfirmClick" type="button" data-meaning="Comfirm">Comfirm</button>
            </div>
        </div>
    </div>
</div>

@*制令单表头-->修改开窗预设仓库数据*@
<div class="modal inmodal" id="EditPreWarehouseDialog" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:800px;">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header" style="padding:16px !important">
                <span style="font-size:20px" data-meaning="AccountMaintenance">Account Maintenance</span>
                <button id="close" type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only" data-meaning="Close">Close</span>
                </button>
            </div>
            <div class="J-search">
                <label data-meaning="PreWarehouse" style="margin:5px 5px 8px 10px;">Pre Warehouse</label>
                <input type="text" class="search-input" data-bind="value:formData.PreWarehouseCode" style="width: 130px;" autocomplete="off" />
                <button class="btn btn-success btn-sm" data-bind="click:EditSearchPreWarehouseClick" type="button" data-meaning="Search" value="Search">Search</button>
            </div>
            <div class="PreWarehouse_Table_Content" style="margin:0px 10px;">
                <table id="EditPreWarehouseTable"></table>
            </div>
            <div class="datagrid-pager page" id="EditPreWarehousePageBar"></div>
            <div class="modal-footer" style="text-align:right;padding:5px 10px;">
                
                <button class="btn btn-success btn-sm" type="button" data-dismiss="modal" data-meaning="Cancel">Cancel</button>
                <button class="btn btn-success btn-sm" data-bind="click:EditPreWarehouseComfirmClick" type="button" data-meaning="Comfirm">Comfirm</button>
            </div>
        </div>
    </div>
</div>

@*制令单明细--->制程开窗*@
<div class="modal inmodal" id="ProcessDialog" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:600px;">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header" style="padding:16px !important">
                <span style="font-size:20px" data-meaning="ProcessInformation">Process Information</span>
                <button id="close" type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only" data-meaning="Close">Close</span>
                </button>
            </div>
            <div class="J-search">
                <span style="margin:5px 5px 8px 10px; width:60px;" data-meaning="ProcessNo">ProcessNo</span>
                <input type="text" class="search-input" style="width: 160px; margin:5px 5px 8px 0;" id="ProcessNo" autocomplete="off" />
                <button class="btn btn-success btn-sm" id="ProcessSearch" data-meaning="Search">Search</button>
            </div>
            <div class="ProcessContent" style="margin:0 15px;">
                <table id="ProcessTable"></table>
            </div>
            <div class="datagrid-pager page" id="paginagionProcessBar" style="margin:0 15px;"></div>
            <div style="text-align:right;padding:5px 10px;">
                
                <button class="btn btn-success btn-sm" type="button" data-dismiss="modal" data-meaning="Cancel">Cancel</button>
                <button class="btn btn-success btn-sm" type="button" id="ProcessConfirmBtn" data-meaning="Comfirm">Comfirm</button>
            </div>
        </div>
    </div>
</div>

@*制令单明细--->工作中心开窗*@
<div class="modal inmodal" id="WorkCenterDialog" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:600px;">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header" style="padding:16px !important">
                <span style="font-size:20px" data-meaning="WorkCenterInformation">WorkCenter Information</span>
                <button id="close" type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only" data-meaning="Close">Close</span>
                </button>
            </div>
            <div class="J-search">
                <span style="margin:5px 5px 8px 10px; width:60px;" data-meaning="WorkCenterNo">WorkCenterNo</span>
                <input type="text" class="search-input" style="width: 160px; margin:5px 5px 8px 0;" id="WorkCenterNo" autocomplete="off" />
                <button class="btn btn-success btn-sm" id="WorkCenterSearch" data-meaning="Search">Search</button>
            </div>
            <div class="WorkCenterContent" style="margin:0 15px;">
                <table id="WorkCenterTable"></table>
            </div>
            <div class="datagrid-pager page" id="paginagionWorkCenterBar" style="margin:0 15px;"></div>
            <div style="text-align:right;padding:5px 10px;">
               
                <button class="btn btn-success btn-sm" type="button" data-dismiss="modal" data-meaning="Cancel">Cancel</button>
                <button class="btn btn-success btn-sm" type="button" id="WorkCenterConfirmBtn" data-meaning="Comfirm">Comfirm</button>
            </div>
        </div>
    </div>
</div>

@*制令单明细--->辅助单位开窗*@
<div class="modal inmodal" id="AuxUnitDialog" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:600px;">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header" style="padding:16px !important">
                <span style="font-size:20px" data-meaning="UnitMasterFile">Unit Master File</span>
                <button id="close" type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only" data-meaning="Close">Close</span>
                </button>
            </div>
            <div class="J-search">
                <span style="margin:5px 5px 8px 10px; width:60px;" data-meaning="Code">Code</span>
                <input type="text" class="search-input" style="width: 160px; margin:5px 5px 8px 0;" id="AuxUnitNo" autocomplete="off" />
                <button class="btn btn-success btn-sm" id="AuxUnitSearch" data-meaning="Search">Search</button>
            </div>
            <div class="AuxUnitContent" style="margin:0 15px;">
                <table id="AuxUnitTable"></table>
            </div>
            <div class="datagrid-pager page" id="paginagionAuxUnitBar" style="margin:0 15px;"></div>
            <div style="text-align:right;padding:5px 10px;">
                
                <button class="btn btn-success btn-sm" type="button" data-dismiss="modal" data-meaning="Cancel">Cancel</button>
                <button class="btn btn-success btn-sm" type="button" id="AuxUnitConfirmBtn" data-meaning="Comfirm">Comfirm</button>
            </div>
        </div>
    </div>
</div>

@* 料品代号弹窗 *@
<div class="modal inmodal" id="PartDialog" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:800px;">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header" style="padding:16px !important">
                <button id="close" type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only" data-meaning="Close">Close</span>
                </button>
                <h6 class="modal-title" data-meaning="ItemMasterFile">Item Master File</h6>
            </div>
            <div class="J-search">
                <span data-meaning="ItemNo" style="margin:5px 5px 8px 10px; width:60px;">Item No</span>
                <input id="TxtPartSearch" type="text" class="search-input" style="width: 160px; margin:5px 5px 8px 0;" autocomplete="off" />
                <button class="btn btn-success btn-sm" type="button" onclick="model.DialogPartSearch()" id="CustomerFind" data-meaning="Search" value="Search">Search</button>
            </div>
            <div id="table-bodyPart" style="margin:0 15px;">
                <table id="PartTable"></table>
            </div>
            <div class="datagrid-pager page" id="paginagionPartBar" style="margin:0 15px;"></div>
            <div class="modal-footer" style="text-align:right;">
                <button class="btn btn-success btn-sm" type="button" data-dismiss="modal" id="cancel" data-meaning="Cancel" value="Cancel">Cancel</button>
                <button class="btn btn-success btn-sm" type="button" id="PartCommit" data-meaning="Comfirm" value="Comfirm">Commit</button>
            </div>
        </div>
    </div>
</div>

@* 制令单号弹窗 *@
<div class="modal inmodal" id="CodeDialog" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:800px;">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header" style="padding:16px !important">
                <button id="close" type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only" data-meaning="Close">Close</span>
                </button>
                <h6 class="modal-title" data-meaning="MoNoMasterFile">MoNo Master File</h6>
            </div>
            <div class="J-search">
                <span data-meaning="MoNo" style="margin:5px 5px 8px 10px; width:60px;">Mo No</span>
                <input id="TxtMoNoSearch" type="text" class="search-input" style="width: 160px; margin:5px 5px 8px 0;" autocomplete="off" />
                <button class="btn btn-success btn-sm" type="button" onclick="model.DialogMoNoSearch()" data-meaning="Search" value="Search">Search</button>
            </div>
            <div id="table-bodyMono" style="margin:0 15px;">
                <table id="MoNoTable"></table>
            </div>
            <div class="datagrid-pager page" id="paginagionMoNoBar" style="margin:0 15px;"></div>
            <div class="modal-footer" style="text-align:right;">
                <button class="btn btn-success btn-sm" type="button" data-dismiss="modal" id="cancel" data-meaning="Cancel" value="Cancel">Cancel</button>
                <button class="btn btn-success btn-sm" type="button" id="MoNoCommit" data-meaning="Comfirm" value="Comfirm">Commit</button>
             </div>
        </div>
    </div>
</div>

@*导入*@
<div class="modal inmodal" id="ImportDialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:750px;">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header" style="padding:16px !important">
                <button type="button" class="close" data-dismiss="modal" onclick="model.ImportClear()">
                    <span aria-hidden="true">&times;</span><span class="sr-only" data-meaning="Cancel">Cancel</span>
                </button>
                <h6 id="inputTitle" class="modal-title" data-meaning="Import">Import</h6>
            </div>
            <div class="modal-body">
                <div class="form-group" style="width:100%; height:35px;">
                    <div style="width:10%; display:inherit; float:left; margin-left:20px;">
                        <button class="btn btn-success btn-sm" id="BtnBrowse">
                            <span data-meaning="Browse">Browse</span>
                        </button>
                        <input id="BtnFile" type="file" style="opacity:0" />
                    </div>
                    <div style="padding:5px; width:70%; display:inherit; float:left;">
                        <span id="FileName"></span>
                    </div>
                </div>
                <div class="form-group" style="width:100%; height:25px;">
                    <span style="color:red;">* </span><label data-meaning="Date">Date</label>
                    <input id="Import_Date" class="search-input" style="width:100px;" readonly/>
                    <span style="color:red; margin-left:5px;">* </span><label data-meaning="StartWorkOrderNum" style="display:inline-block;">Start Work Order No.</label>
                    <input class="search-input" id="import_StartWorkOrderNum" style="width:130px;"/>
                    <span style="color:red; margin-left:5px;">* </span><label data-meaning="EndWorkOrderNum" style="display:inline-block;margin:0 0 0 5px;">End Work Order No.</label>
                    <input id="import_EndWorkOrderNum" class="search-input" style="width:130px;"/>
                    <label data-meaning="Client" style="display:inline-block;">Client</label>
                    <input class="search-input" id="import_Client" style="width:90px;"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal" data-meaning="Cancel" onclick="model.ImportClear()">Cancel</button>
                <button type="button" class="btn btn-success" id="BtnImport" data-meaning="Comfirm">Comfirm</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <style>
        .startSytle{
            color:red;
        }
        .mf-table-wrapper {
            overflow-x: auto;
        }

        #MainContent .fix-table, #MainContent .fix-head {
            width: 427%;
        }

        #DetailContent .fix-table, #DetailContent .fix-head {
            width: 360%;
        }
        #addMainDataID tr, #editMainDataID tr{
            line-height:30px;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button
        {
            -webkit-appearance: none !important;
            margin: 0;
        }
        input[type="number"]{-moz-appearance:textfield;}
        #secondRow lable {
            display:inline-block;
            width:72px;
            text-align:center;
        }
        #table-bodyMono .fix-head,#table-bodyMono .fix-head{
            width:150%;
        }
        #table-bodyMono .fix-head,#table-bodyMono .fix-table {
            width: 150%;
        }
    </style>
    <link href="~/Content/css/plugins/iCheck/blue.css" rel="stylesheet" />
    <script src="~/Content/js/hplus/plugins/iCheck/icheck.min.js"></script>
    <script src="~/Content/js/knockout/knockout-3.0.0.js" type="text/javascript"></script>
    <script src="~/Content/js/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/js/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/js/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
    <script src="~/Content/js/bootstrap-datepicker/locales/bootstrap-datepicker.zh-TW.min.js"></script>
    <script src="~/Content/js/current/pagination.js" type="text/javascript"></script>
    <script src="~/Content/js/current/Rander.js" type="text/javascript"></script>
    <script src="~/Content/js/current/Checker.js" type="text/javascript"></script>
    <script src="~/Content/js/current/table.js" type="text/javascript"></script>
    <script src="~/ViewModels/MES/IntelligentManufacturing/SFC00002.js" type="text/javascript"></script>
}


