
@{
    ViewBag.Title = "SFC00006Print";
    Layout = "~/Views/Shared/_LayoutLang.cshtml";
}

@*打印页面*@
<div id="tb_list" class="J-main">
    <div id="container" class="J-toolbar">
        <button class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="left" onclick="model.backClick()"><i class="fa icon-arrow-left"></i> <span data-meaning="Cancel">Cancel</span></button>
        <button class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="left" onclick="model.printClick()"><i class="fa icon-add"></i> <span data-meaning="Print">Print</span></button>
    </div>
    <div class="J-content" style="width:1000px">
        <div>
            <div class="title1" style="text-align:center;">
                <h2 data-meaning="WorkStationPrint">WorkStation Print</h2>
            </div>
            <div id="items" style="text-align:center;"></div>
        </div>
        <div id="gridlist" class="wrapper" style="width: 100%; height: 100%; text-align:center; margin: 5px;">
            <table id="TaskCardPrint" style="border:2px solid black; width:1000px;">
                <tr>
                    <td class="tdCssOne"><span data-meaning="MoNo">Mo No.</span></td>
                    <td class="tdCssTwo"><span id="MoNo"></span></td>
                    <td colspan="4" rowspan="11" style="width:62%;">
                        <img id="TaskNoCode" style="width:500px; height:100px;" />
                        <div id="TaskCode"></div>
                    </td>
                </tr>
                <tr>
                    <td class="tdCssOne"><span data-meaning="ItemNo">Item No.</span></td>
                    <td class="tdCssTwo"><span id="ItemNo"></span></td>
                </tr>
                <tr>
                    <td class="tdCssOne"><span data-meaning="GoodsName">Goods Name</span></td>
                    <td class="tdCssTwo"><span id="GoodsName"></span></td>
                </tr>
                <tr>
                    <td class="tdCssOne"><span data-meaning="DispatchAmount">Dispatch Amount</span></td>
                    <td class="tdCssTwo"><span id="DispatchAmount"></span></td>
                </tr>
                <tr>
                    <td class="tdCssOne"><span data-meaning="WorkCenter" style="font-weight:800;">Work Center</span></td>
                    <td class="tdCssTwo"><span id="WorkCenter" style="font-weight:800;"></span></td>
                </tr>
                <tr>
                    <td class="tdCssOne"><span data-meaning="ManufacturingProcess" style="font-weight:800;">Manufacture Process</span></td>
                    <td class="tdCssTwo"><span id="ManufacturingProcess" style="font-weight:800;"></span></td>
                </tr>
                <tr>
                    <td class="tdCssOne"><span data-meaning="Process" style="font-weight:800;">Process</span></td>
                    <td class="tdCssTwo"><span id="Process" style="font-weight:800;"></span></td>
                </tr>
                <tr>
                    <td class="tdCssOne"><span data-meaning="UnderWorkCenter">Under Work Center</span></td>
                    <td class="tdCssTwo"><span id="UnderWorkCenter"></span></td>
                </tr>
                <tr>
                    <td class="tdCssOne"><span data-meaning="UnderCreateProcess">Under Create Process</span></td>
                    <td class="tdCssTwo"><span id="UnderCreateProcess"></span></td>
                </tr>
                <tr>
                    <td class="tdCssOne"><span data-meaning="UnderProcess">Under Process</span></td>
                    <td class="tdCssTwo"><span id="UnderProcess"></span></td>
                </tr>
                <tr>
                    <td class="tdCssOne"><span data-meaning="OrderNo">Order No.</span></td>
                    <td class="tdCssTwo"><span id="OrderNo"></span></td>
                </tr>
                <tr>
                    <td class="tdCssOne" style="border-bottom:none;"><span data-meaning="Client">Client</span></td>
                    <td class="tdCssTwo" style="border-bottom:none;"><span id="Client"></span></td>
                    <td style="width:13%; border-bottom:none;"><span data-meaning="FinishNo">Finish No.</span></td>
                    <td style="width:18%; border-bottom:none;"><span id="FinishNo"></span></td>
                    <td style="width:13%; border-bottom:none;"><span data-meaning="FinProQty">FinPro Qty.</span></td>
                    <td style="width:18%; border-bottom:none;"><span id="FinProQty"></span></td>
                </tr>
                <tr>
                    <td style="width:14%;"><span data-meaning="SourceClass">Source Class</span></td>
                    <td style="width:21%;"><span data-meaning="EquipmentCode">Equipment Code</span></td>
                    <td style="width:44%;" colspan="3"><span data-meaning="EquipmentDescription">Equipment Dept.</span></td>
                    <td style="width:18%;  border-right:2px solid black;"><span data-meaning="MainResource">Main Resource</span></td>
                </tr>
            </table>
            @*<table id="Equipmentable" style="border:2px solid black; border-top:none; width:100%;">

                     <tr>
                        <td style="width:130px; border-bottom:2px solid black;">2</td>
                        <td style="width:790px;" colspan="4" rowspan="3">3</td>
                    </tr>
                </table>*@
        </div>
    </div>
</div>

@section scripts{
    <style>
        #TaskCardPrint {
            table-layout: fixed;
        }

        #Equipmentable {
            table-layout: fixed;
        }

        #TaskCardPrint tr {
            line-height: 29px;
        }

        #TaskCardPrint td {
            border: 1px solid black;
            word-break: break-word;
        }

        #Equipmentable tr {
            line-height: 29px;
        }

        #Equipmentable td {
            border: 1px solid black;
            word-break: break-word;
        }

        .title3 {
            text-align: center;
            display: inline-block;
            width: 25%;
        }

        .contentBorder {
            border-color: #fff;
        }

        .tdCssOne {
            width: 14%;
        }

        .tdCssTwo {
            width: 21%;
        }
    </style>
    <script src="~/Content/js/knockout/knockout-3.0.0.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.qrcode.min.js" type="text/javascript"></script>
    <script src="~/Content/js/JsBarcode.all.js" type="text/javascript"></script>
    <script src="~/Content/js/current/pagination.js" type="text/javascript"></script>
    <script src="~/Content/js/current/Rander.js" type="text/javascript"></script>
    <script src="~/Content/js/current/Checker.js" type="text/javascript"></script>
    <script src="~/ViewModels/MES/IntelligentManufacturing/SFC00006Print.js" type="text/javascript"></script>
}




