
@{
    ViewBag.Title = "SFC00006Material";
    Layout = "~/Views/Shared/_LayoutLang.cshtml";
}

@*用料页面*@
<div id="tb_list" class="J-main">
    <div id="container" class="J-toolbar">
        <button class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="left" onclick="model.materialBackClick()"><i class="fa icon-arrow-left"></i> <span data-meaning="Back">Back</span></button>
        <button class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="left" onclick="model.materialRefreshClick()"><i class="fa icon-arrow_refresh"></i> <span data-meaning="Refresh">Refresh</span></button>
     </div>
    <div class="J-search" id="search-workStation">
        <label data-meaning="TaskCardNo" style="width:60px;">Task Card No.</label>
        <input type="text" class="search-input" id="TackNo" style="width: 180px;" autocomplete="off" data-bind="value:RCCode,event:{change:RCChange}" disabled="disabled">

        <label data-meaning="WorkOrderNumber">Work Order No.</label>
        <input type="text" class="search-input" id="WorkOrderNumber" style="width: 150px;" autocomplete="off" data-bind="value: WorkOrderNo" readonly disabled="disabled">

        <label data-meaning="WorkCenter">Work Center</label>
        <input type="text" class="search-input" id="WorkCenter" style="width: 150px;" autocomplete="off" data-bind="value:WorkCenter" readonly disabled="disabled">

        <label data-meaning="Part">Part</label>
        <input type="text" class="search-input" id="Part" style="width: 150px;" autocomplete="off" data-bind="value:ManufacturingProcess" readonly disabled="disabled">



        <div style="padding-top:5px;">
            <label data-meaning="ItemDescription" style="width:60px;">ItemDescription </label>
            <input type="text" class="search-input" id="ItemDescription" style="width: 180px;" autocomplete="off" data-bind="value:Process" readonly disabled="disabled">

            <label data-meaning="ItemSpecification">ItemSpecification</label>
            <input type="text" class="search-input" style="width:150px" id="ItemSpecification" autocomplete="off" data-bind="value:Shift" readonly disabled="disabled">
            <label data-meaning="DispatchAmount">DispatchAmount</label>
            <input type="text" id="DispatchAmount" class="search-input" data-bind="WorkStartDate" style="width: 149px; margin-right:4px;" autocomplete="off" readonly disabled="disabled" />
        </div>

    </div>
    <div class="J-content">  
            <div id="MaterialDetailsContent">
                <table id="MaterialDetailsTable"></table>
            </div>
            <div class="datagrid-pager page" id="MaterialDetailPageBar"></div>
    </div>
</div>

@section scripts{
    <style>
        .mf-table-wrapper {
            overflow-x: auto;
        }
        #MaterialDetailsContent .fix-head,#MaterialDetailsContent .fix-table {
            width:170%;
        }
        .J-search input {
            margin-right: 10px;
        }
       
    </style>
    <script src="~/Content/js/knockout/knockout-3.0.0.js" type="text/javascript"></script>
    <script src="~/Content/js/current/pagination.js" type="text/javascript"></script>
    <script src="~/Content/js/current/Rander.js" type="text/javascript"></script>
    <script src="~/Content/js/current/Checker.js" type="text/javascript"></script>
    <script src="~/ViewModels/MES/IntelligentManufacturing/SFC00006Material.js" type="text/javascript"></script>
}
