@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*组织结构图*@
<div class="gray-bg" style="height:100%;">
    <div class="wrapper wrapper-content animated fadeIn" style="box-sizing: content-box;height:calc(100% - 40px);padding:10px 20px 0px 10px">
        <div class="row mf-layer">
            <div class="col-sm-12">
                <div class="ibox float-e-margins" style="padding-right:20px;">
                    <div class="ibox-title">
                        <div id="container">
                            <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="刷新" onclick="refreshClick()"><i class="fa icon-arrow_refresh"></i>&nbsp; 刷新</button>
                            <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="保存" onclick="saveClick()"><i class="fa icon-save"></i>&nbsp; 保存</button>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form id="Form" class="form-horizontal m-t">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">用户名：</label>
                                <div class="col-sm-8">
                                    <input id="UserCode" name="UserCode" type="text" class="form-control" readonly="readonly" value="" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">原密码：</label>
                                <div class="col-sm-8">
                                    <input id="PasswordOld" name="PasswordOld" type="password" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">新密码：</label>
                                <div class="col-sm-8">
                                    <input id="PasswordNew1" name="PasswordNew1" type="password" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">确认密码：</label>
                                <div class="col-sm-8">
                                    <input id="PasswordNew2" name="PasswordNew2" type="password" class="form-control">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{

    <script type="text/javascript" src="~/Content/js/md5/md5.js"></script>
    <script type="text/javascript">

        function refreshClick() {
            window.location.reload();
        }
        function saveClick() {
            var UserCode = $("#UserCode").val();
            var PasswordOld = $("#PasswordOld").val();
            var PasswordNew1 = $("#PasswordNew1").val();
            var PasswordNew2 = $("#PasswordNew2").val();
            if (PasswordNew1.replace(/(^\s*)|(\s*$)/g, "").length == 0) {
                msg.error("提示", "新密码不能为空！");
                return;
            }
            if (PasswordNew1 != PasswordNew2) {
                msg.error("提示", "两次输入的新密码不一致！");
                return;
            }

            mf.ajax({
                type: 'get',
                url: '/Util/ChangePassword',
                data: { PasswordOld: hex_md5(PasswordOld), PasswordNew: hex_md5(PasswordNew1) },
                success: function (d) {
                    msg.success("提示", d.msg);

                    if (d.status == "200") {
                        window.location.reload();
                    }
                }
            });
        }
    </script>
    <style>
        .mf-layer {
            box-sizing: content-box;
            height: 100%;
        }

            .mf-layer .col-md-12 {
                box-sizing: content-box;
                height: 100%;
                width: 98%;
            }

            .mf-layer .ibox {
                box-sizing: content-box;
                height: calc(100% - 25px);
                padding-right: 0px;
            }

            .mf-layer .ibox-content {
                height: 100%;
            }
    </style>

}