
@{
    ViewBag.Title = "QCS00002TestItems";
    Layout = "~/Views/Shared/_LayoutLang.cshtml";
}

@*检验项目*@
<div id="tb_list" class="J-main">
    <div id="container" class="J-toolbar">
        <button id="btn_refresh" class="btn btn-success btn-sm" title="Refresh" onclick="model.refreshClick()"><i class="fa icon-arrow_refresh"></i> <span data-meaning="Refresh"> Refresh</span></button>
        <button id="btn_search" class="btn btn-success btn-sm" title="Search" onclick="model.searchClick()"><i class="fa fa-search"></i> <span data-meaning="Search"> Search</span></button>
        <button id="btn_save" class="btn btn-success btn-sm" title="Save" onclick="model.saveClick()"><i class="fa icon-save"></i> <span data-meaning="Save"> Save</span></button>
        <button id="btn_add" class="btn btn-success btn-sm" title="New" onclick="model.addClick()"><i class="fa icon-add"></i><span data-meaning="New"> Add</span></button>
        <button id="btn_edit" class="btn btn-success btn-sm" title="Change" onclick="model.editClick()"><i class="fa icon-edit"></i> <span data-meaning="Change"> Edit</span></button>
        <button id="btn_delete" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="left" title="删除" onclick="model.deleteClick()"><i class="fa icon-delete"></i> <span data-meaning="Delete"> Delete</span></button>
        <button id="btn_languages" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="left" title="语系" onclick="model.languagesClick()"><i class="fa fa-language"></i> <span data-meaning="Langwage"> Languages</span></button>
        <button id="btn_import" class="btn btn-success btn-sm" title="Import" onclick="model.importClick()"><i class="fa icon-page_white_excel"></i><span data-meaning="Import"> Import</span></button>
        <button id="btn_export" class="btn btn-success btn-sm" title="Export" onclick="model.exportClick()"><i class="fa icon-download"></i><span data-meaning="Export"> Export</span></button>
    </div>
    <div class="J-search">
        <span data-meaning="TestItemsNo">Test Items No.</span>
        <input id="Code" name="Code" type="text" class="search-input" style="width: 170px;" autocomplete="off" />
        &nbsp;&nbsp;
        <span data-meaning="Status">Status</span>
        <select id="Status" style="width: 100px;" autocomplete="off"> 
        </select>
    </div>
    <div class="J-content" id="table-body">
        <table id="TestItemsTable" data-toggle="true" data-mobile-responsive="true"></table>
    </div>
    <div class="datagrid-pager page" id="paginagionBar"></div>
</div>

@*导入*@
<div class="modal inmodal" id="inputDialog" tabindex="-1" role="dialog" aria-hidden="true">
    <style>
        .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
            border: 1px solid red;
        }
    </style>
    <div class="modal-dialog" style="width:400px;">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header" style="padding:16px !important">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only" data-meaning="Cancel">Cancel</span>
                </button>
                <h6 id="inputTitle" class="modal-title" data-meaning="Import">Import</h6>
            </div>
            <div class="modal-body">
                <div class="form-group" style="width:100%;">
                    <div style="width:15%; display:inherit; float:left; margin-left:20px;">
                        <button class="btn btn-success btn-sm" id="BtnBrowse">
                            <span data-meaning="Browse">Browse</span>
                        </button>
                        <input id="BtnFile" type="file" style="opacity:0" />
                    </div>
                    <div style="padding:5px; width:70%; display:inherit; float:left;">
                        <span id="FileName"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal" data-meaning="Cancel">Cancel</button>
                <button type="button" class="btn btn-success" id="addFile" data-meaning="Save">Save</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <style>
        #table-body .mf-table-wrapper {
            overflow-x: auto;
        }

        #table-body .fix-table, #table-body .fix-head {
            width: 145%;
        }

        select {
            height: 25.5px;
            font-size: 12px;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }
    </style>
    <script src="~/Content/js/knockout/knockout-3.0.0.js" type="text/javascript"></script>
    <script src="~/Content/js/current/pagination.js" type="text/javascript"></script>
    <script src="~/Content/js/current/Rander.js" type="text/javascript"></script>
    <script src="~/Content/js/current/Checker.js" type="text/javascript"></script>
    <script src="~/ViewModels/MES/QualityManagement/QCS00002TestItems.js" type="text/javascript"></script>
}

