
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8" />
    <title>Basic shapes</title>
    <link rel="stylesheet" type="text/css" href="~/Content/joint/build/joint.css" />
    <style>
        body {
            margin:0px
        }
        #paper {
            display: inline-block;
        }
    </style>
</head>
<body>
    <div id="paper"></div>
    <script src="~/Content/joint/node_modules/jquery/dist/jquery.js"></script>
    <script src="~/Content/joint/node_modules/lodash/index.js"></script>
    <script src="~/Content/joint/node_modules/backbone/backbone.js"></script>
    <script src="~/Content/joint/build/joint.js"></script>
    <script src="~/ViewModels/MES/Util/JointChart.js"></script>
</body>
</html>
